
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}


.App {
  min-height: 100vh;
  background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

.search-button {
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-image 0.3s ease-in-out;
}

.search-button:hover {
  background-image: linear-gradient(to top, #3461a4 0%, #0493fe 100%);
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


